:root {
    --primary: #0d58ad;
    --primary-010: #28289b;

    --secondary: #0b2c85;
    --secondary-010: #020272;

    --white: #ffffffe1;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #9b9ba0;
}